name: Publish

on:
  pull_request:
  push:
    branches: [main, master, prod]
    tags:
      - "v*"

jobs:
  linter:
    name: Linter on a PR
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-24.04
    steps:
      - uses: Scalingo/actions/go-linter@main

  tests:
    name: Unit Tests
    runs-on: ubuntu-24.04
    steps:
      - uses: Scalingo/actions/go-tests@main
        with:
          etcd: true
        env:
          CODE_PATH: ${{ github.workspace }}

  publish:
    runs-on: ubuntu-24.04
    needs: [linter, tests]
    if: startsWith(github.ref, 'refs/tags/')
    env:
      GOX_ARCHITECTURES: amd64 386
    steps:
      # Currently there is no possibility to get a tag name. Hence we filter the GITHUB_REF variable which contains something like "refs/tags/v2.0.0" if the tag is "v2.0.0". The value can be used with "steps.tag_name.outputs.TAG_NAME"
      - name: Get tag name
        id: tag_name
        run: |
          echo "::set-output name=TAG_NAME::${GITHUB_REF#refs/tags/}"
          echo "$TAG_NAME"

      - name: Checkout the code
        uses: actions/checkout@v6

      - name: Setup Go environment
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true
      - run: go version

      - name: Build the binaries
        run: |
          go install github.com/mitchellh/gox@latest
          CGO_ENABLED=0 gox -os="linux" -arch="${{ env.GOX_ARCHITECTURES }}" -output="dist/link-${{ steps.tag_name.outputs.TAG_NAME }}-{{.OS}}-{{.Arch}}/{{.Dir}}" -ldflags="-X main.Version=${{ steps.tag_name.outputs.TAG_NAME }}" . ./cmd/...

      - name: Archive the built binaries
        run: |
          for gox_archi in $GOX_ARCHITECTURES; do
            echo "Archive release targetted to $gox_archi"
            # Gox compiles link-client and an executable named "v3" instead of "link"..
            mv dist/link-${{ steps.tag_name.outputs.TAG_NAME }}-linux-${gox_archi}/v3 dist/link-${{ steps.tag_name.outputs.TAG_NAME }}-linux-${gox_archi}/link
            tar --directory=dist -czvf "dist/link-${{ steps.tag_name.outputs.TAG_NAME }}-linux-${gox_archi}.tar.gz" "link-${{ steps.tag_name.outputs.TAG_NAME }}-linux-${gox_archi}"
          done

      - name: Release the new version
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: dist/*.tar.gz
